.background-img {
    position: absolute;
    bottom: 0px;
    left: 0px;
    @media screen and (min-width: 768px) { 
        bottom: 70px;
    }
        
    }

.section-heading h1 {
    margin: 0 0 10px 0;
    position: sticky;
    position: -webkit-sticky;
    top: 150px;
}